= comment.user.name
= comment.created_at
%br    
= comment.body
%br
=comment.id
%br 
-if comment.parent_id
  =comment.parent_id
%br
/=link_to "destroy comment", game_comment_path(@game.id, comment.id), method: :delete