%h2 Root directory
/%iframe{ :width=> "50%", :height=> "50%", src: "https://www.youtube.com/embed/g_s17HMFaug?controls=1" }
%br
/%iframe{ :width=> "50%", :height=> "50%", src: "https://www.youtube.com/embed/J1a9_-pG4vQ?controls=1" }
= link_to "All games", games_path